@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edf7ff;
}

.linkIcon {
  color: #326273;
  transition: color 0.3s;
}

.linkIcon:hover {
  color: #98cbdd;
}

.cursorPointer {
  cursor: pointer;
}
